.home {
  position: absolute;
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 701px) {
  .home {
    flex-direction: row;
  }

  .right-container {
    padding-right: 1em;
  }
}
