:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --content: #fbf5ed;
  --primary: #efe7da;
  --secondary: #efe7da;
  --highlight: #ed3b38;
  --background: #2d5355;
  --background-highlight: #0e4749;

  --icon-size: 30px;
  --content-font: 'Assistant', sans-serif;
  --header-font: 'Assistant', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: var(--content);
  font-size: 14px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  background: #1e1d2d;
}

a {
  color: var(--content);
  text-decoration: none;
  cursor: pointer;

  &:link {
    color: var(--content);
  }
  &:visited {
    color: var(--content);
  }
  &:hover {
    color: var(--content);
  }
  &:active {
    color: var(--content);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  padding: 0.5em 1.5em;
  border: 1px solid var(--content);
  border-radius: 6px;
  margin: 0 0.5em;
  background: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: bold;
  color: var(--content);
  text-shadow: 0px 1px 1px black;
  cursor: pointer;
  user-select: none;

  &:hover {
    text-shadow: 0px 1px 2px black;
  }

  &:active {
    text-shadow: 0px 0px 1px black;
  }

  &:disabled {
    color: #b9b9b9;
    text-shadow: 0px 1px 0 black;
    border: 1px solid #949494;
    background: rgba(255, 255, 255, 0.15);
    cursor: default;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  margin: 0;
  color: var(--content);
  text-shadow: 0px 2px 2px black;
}

h1 {
  font-size: 4.5em;
}

input,
textarea {
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid #949494;
  border-radius: 14px;
  outline: none;
  color: var(--content);
  background: transparent;
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 36%,
    rgba(255, 255, 255, 0.25)
  );
  font-size: 100%;

  &:focus {
    border: 1px solid var(--content);
    background: linear-gradient(
      150deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 46%,
      rgba(255, 255, 255, 0.35)
    );
  }

  &::placeholder {
    color: #aaaaaa;
  }
}

@media (min-width: 701px) {
  html {
    font-size: 16px;
  }
}
